@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #99a8bb;
  padding: 10px;
}

/* todo-app */
.todo-app {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 60px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.todo-app h2 {
  color: #002765;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-app h2 img {
  width: 100px;
}

/* row */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: #1d9f4d;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: purple;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2;
  border-radius: 40px;
  cursor: pointer;
}

/* list-container */
ul li {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  color: #002765;
  text-transform: capitalize;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(./images/checked-green.png);
}

/* span */
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;

  text-align: center;
}

ul li span:hover {
  color: #ff5945;
}
